@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;700;900&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p{
    line-height: 2em;
}


h1{
    font-size: 3em;
}




/* ------ Generici ------ */


/* ------ Container Flexbox ------ */
.container {
	max-width: 1100px; /* Boxato */
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;/* uguale spazio attorno ad essi */

}

.casella{
	margin-top: 1em; 
	box-sizing: border-box;
    width: 32%;
    text-align: center;
    border-radius: 2em;
    padding: 1em;
}
.piena{
    width: 100%;
}
.mezza{
    width: 50%;
}
.quarto{
    width: 24%;
}



@media (max-width: 928px){
    .quarto{
        width: 50%;
    }
    
}



.ombra-animata{
    box-shadow: 1px 1px 10px rgba(199, 199, 199, 0);
    transition: box-shadow .4s;
}
.ombra-animata:hover{
    box-shadow: 5px 7px 7px rgba(0, 0, 0, 1);

}

@media (max-width: 600px){
    .casella{
        width: 100%;
    }
    .mezza{
        width: 100%;
    }

}

.bottone{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 0.8em 1.2em;
    background-color: #21CBBF;
    color: #FFF;
    border:none;
    border-radius: 2em;
    font-size: 1em;
    text-decoration: none;
}

.bottone a:hover {
  color: #FFF;
text-decoration: none;
}

.bottone:hover {
  background-color: #31D9CE;
text-decoration: none;
}


/* ------ Header------  */
nav {
    font-family: 'Roboto', sans-serif;
    background: #000;
    padding: 0 15px;

    min-height: 8vh;
    position: fixed;
    width: 100vw;

}
a {
  color: #FFF;
  text-decoration: none;
}
.menu, .submenu {
  list-style-type: none;
}

.logo {
    padding:2px;
    
}

.item {
  padding: 15px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #f58d98;
text-decoration: none;
}


/* ------ Mobile menu------ */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 15px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 30px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}


/* ------ Submenu up from mobile screens------ */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

.item.has-submenu:hover > ul.submenu {
    display: block;
    position: absolute;
    background: #333;
    text-align: right;
}  
.item.has-submenu > ul.submenu > li.subitem {
    font-size: 0.8em;
}
.item.has-submenu > ul.submenu > li.subitem > a {
    padding: 10px 14px;
}



/* ------Tablet menu------ */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* ------ Button up from tablet screen------  */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* ------ Desktop menu ------ */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}


/* ------ Slider ------ */

#Slider{
    display: flex;
    justify-content: center;
  align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(img/Sfondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.slider-testo{
    text-align: center;
    color: #FFF;
    padding: 1em;
}
.slider-testo h1 , .slider-testo p , .slider-testo .bottone{
    margin: 1em 0;
}


/* ------ Claim ------ */
.claim{
    width: 100%;
    text-align: center;
    margin: 3em 0 5em;
}
.claim h2{
    font-size: 3em;
    padding: 2em 0 .4em;

}

.casella h3{
    color:black;
    margin: 1.4em 0;
    font-size: 2em;
}

.casella h4{
    color:black; 
    margin: 1.4em 0;
    font-size: 1.2em;
}


.casella img{
    width: 50%;
}



/* ------ APP ------ */
#App .bottone{
    margin:1.2em 0;
}

#App {
    display: flex;
    max-width: 1100px; /* Boxato */
    margin: 0 auto;
    flex-flow: row wrap;
    align-items: center;
}

@media (max-width: 600px){
    #App{
        display: flex;
	flex-direction:column;
    }
}
    

.mezza img{
    width: 70%;
    margin: 3em 0;
    
}

#Mockup.mezza {
    text-align: left;
}


/* ------Immagine bg ------*/
.img-bg{
    height: 60vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url(img/tre.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}




/* ------ Recensioni ------ */
#Recensioni img{
    object-fit: cover; /* non strechare*/
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#Recensioni h2{
    margin: 1em 0 0;
    font-size: 3.2em;
}
#Recensioni p{
    margin-top: 2em;
}

#Recensioni h3:hover{
    color: #f58d98;
    
}


/* ------ Newsletter------  */
#Newsletter{
    text-align: center;
    padding: 3em;
}

#Newsletter h2{
    color: #f58d98;
}

#Newsletter .bottone{
    margin: 3em;
}


/* ------Footer ------- */
footer {
  background-color: #000;
  color: #bbb;
}
footer a {
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
footer li{
    list-style: none;
}



/* Footer social */
.ft-social {
  padding: 0 1.875em 1.25em;
}

.ft-social a:hover {
  color: #f58d98;
}


.ft-social-list {
  display: flex;
  justify-content: center;
  padding-top: 1.25em;
}
.ft-social-list li {
  margin: 0.5em;
  font-size: 1.25em;
}




/* Footer legale */
.ft-legal {
  padding: 1em 2em;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.2em 0.6em;
}
